[Configuration]
NvGuildRankS=True
NVGuildDoi3ng=False
WaitNvS=60
WeakTinhAnh=False
BaoTang11h=True
BaoTang21h=True
SpBossTG=True
SpBossCTC=True
SpCuopMo=False
SpNvGuildRankS=True
SpWaitNvS=60
MoDe=True
MoThuong=True
MoKho=False
MoTrang=True
MoXanh=True
MoTim=True
MoDo=True
MaHoa5Phut=False
BossTGTop1=False
BossTGTop2=True
BossTGTop3=False
BossCTCBoss1=False
BossCTCBoss2=False
BossCTCBoss3=False
BossCTCBoss4=True
BossCTCBoss5=True
BossCTCBoss6=True
TraLoiCauHoi=True
TANGTHANHDAN=1
SpBossQD=True
