[Configuration]
NvGuildRankS=True
WaitNvS=60
WeakTinhAnh=False
BaoTang11h=False
BaoTang21h=True
SpBossTG=True
SpBossCTC=True
SpCuopMo=True
SpNvGuildRankS=True
SpWaitNvS=60
MoDe=True
MoThuong=True
MoKho=False
MoTrang=True
MoXanh=True
MoTim=True
MoDo=True
BossTGTop1=True
BossTGTop2=False
BossTGTop3=False
BossCTCBoss1=False
BossCTCBoss2=False
BossCTCBoss3=False
BossCTCBoss4=True
BossCTCBoss5=True
BossCTCBoss6=True
TraLoiCauHoi=False
