[Configuration]
NvGuildRankS=True
WaitNvS=60
WeakTinhAnh=True
BaoTang11h=False
BaoTang21h=True
SpBossTG=True
SpBossCTC=True
SpCuopMo=True
SpNvGuildRankS=True
SpWaitNvS=60
MoDe=True
MoThuong=True
MoKho=False
MoTrang=True
MoXanh=True
MoTim=True
MoDo=True
BossTGTop1=False
BossTGTop2=True
BossTGTop3=False
BossCTCBoss1=False
BossCTCBoss2=True
BossCTCBoss3=True
BossCTCBoss4=False
BossCTCBoss5=False
BossCTCBoss6=False
