[Configuration]
NvGuildRankS=True
WaitNvS=60
WeakTinhAnh=False
BaoTang11h=False
BaoTang21h=True
SpBossTG=True
SpBossCTC=True
SpCuopMo=True
SpNvGuildRankS=True
SpWaitNvS=60
MoDe=True
MoThuong=True
MoKho=False
BossTGTop1=True
BossTGTop2=False
BossTGTop3=False
BossCTCBoss1=False
BossCTCBoss2=False
BossCTCBoss3=True
BossCTCBoss4=True
BossCTCBoss5=True
BossCTCBoss6=False
